.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  }
  .copyright {
    font-size: 14px;
    color: #999;
    text-align: center;
    margin-top: 20px;
  }
  .dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
  }
  .invert {
    filter: invert(100%);
  }
  