.btn-pending {
    background-color: #17a2b8;
    color: white;
}

.btn-completed {
    background-color: #28a745;
    color: white;
}

.removed-task {
    text-decoration: line-through;
    opacity: 0.6;
}

#newTaskFormContainer {
    display: none;
    margin-bottom: 20px;
}

#newTaskForm {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#newTaskForm input[type="text"],
#newTaskForm input[type="datetime-local"],
#newTaskForm input[type="email"],
#newTaskForm textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

#newTaskForm button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #FFF;
    cursor: pointer;
}
.copyright {
    font-size: 14px;
    color: #999;
    text-align: center;
    margin-top: 20px;
  }
  .dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
  }
  .invert {
    filter: invert(100%);
  } 
  body.dark-mode * {
    color: white !important;
  }
  body.dark-mode {
    filter: invert(100%);
  }
  .highlight {
    background-color: #FF6347 !important ; /* Orange-red background color for overdue tasks */
  }
  